table.woocommerce-checkout-review-order-table tbody :nth-child(2) .product-total, 
table.woocommerce-checkout-review-order-table tbody :nth-child(3) .product-total,
.order_details .order_item .wc-booking-summary:nth-of-type(2),
.order_details .order_item .wc-booking-summary:nth-of-type(3),
.order_details .order_item .product-total{
    display: none;
}

.detalhes-reserva-topo h5, .detalhes-reserva-topo a{
    display:inline-block;
}
.detalhes-reserva-topo h5{
    vertical-align:sub;
}
.detalhes-reserva-topo a{
    float: right;
}

.wc-bookings-retorn-booking-details{
    border: 1px solid;
    border-radius: 2px;
    padding: 5px;
    float: right;
    margin-bottom:10px;
}

.acf-label .description {
    font-size:0.8em;
}

.acf-form  .button.button-primary{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 200px;
    font-size: 1em;
}

.legba-wc-booking-success{
    text-align:center;
}